# Immich Integration
# Set IMMICH_ENABLED=false to disable face detection & upload entirely
IMMICH_ENABLED=true
IMMICH_URL=http://192.168.1.x:2283
IMMICH_API_KEY=your_immich_api_key_here
IMMICH_ALBUM=Überwachung
